@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html, body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: white;
  overflow-x: hidden;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-logo-icon {
  width: 100%;
  height: 100px;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
}
.header-logo-icon .logo-set {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
}
.header-logo-icon .logo-set .img-map {
  margin-left: 10px;
}
.header-logo-icon .contact {
  width: 176px;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}
.header-logo-icon .contact .contact-text {
  font-size: 14px;
  color: #282828;
}

.header-consult {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
}
.header-consult .block-consult {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.header-consult .block-consult .num-consult {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-consult .block-consult .num-consult .num {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}
.header-consult .block-consult .num-consult .consult {
  margin: 0;
  font-size: 16px;
}
.header-consult .block-consult .btn-header-consult {
  padding: 15px 20px;
  text-align: center;
  font-size: 21px;
  border-radius: 10px;
  background-color: #39B54A;
  color: white;
  border: none;
  white-space: nowrap;
}

.nav {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;
  border-top: 2px solid #dfdfdf;
  border-bottom: 2px solid #dfdfdf;
}
.nav .nav-ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-evenly;
}
.nav .nav-ul .link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.banner-debt {
  margin: 0;
  padding: 20px 80px 45px 80px;
}
.banner-debt .block-banner-debt {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 38px;
  align-items: center;
}
.banner-debt .block-banner-debt .text-debt {
  margin: 0;
}
.banner-debt .block-banner-debt .text-debt .p-one {
  padding: 0;
  margin: 0;
  font-size: 24px;
  white-space: nowrap;
}
.banner-debt .block-banner-debt .text-debt .bold {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 20px;
  font-size: 56px;
  white-space: nowrap;
  font-weight: 600;
}
.banner-debt .block-banner-debt .text-debt .bold span {
  font-weight: 700;
}
.banner-debt .block-banner-debt .text-debt .p-two {
  margin: 0;
  font-size: 24px;
}
.banner-debt .block-banner-debt .text-debt .btn {
  margin: 0;
  padding-top: 30px;
}
.banner-debt .block-banner-debt .text-debt .btn .btn-get-consult {
  display: block;
  margin: 0;
  padding: 25px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  background-color: #0071BC;
  color: white;
  border: none;
  white-space: nowrap;
  width: fit-content;
}
.banner-debt .block-banner-debt .text-debt .p-three {
  font-size: 16px;
}
.banner-debt .block-banner-debt .img {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.banner-debt .block-banner-debt .img .img-main {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services {
  padding: 0 40px;
}
.services .block h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
}
.services .block .bloc-one {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-top: 40px;
}
.services .block .bloc-one .block-1-first-row {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  height: 325px;
  background-image: url("/assets/img/services-main-one.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}
.services .block .bloc-one .block-1-first-row .overlay-img img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right center;
  z-index: 2;
  pointer-events: none;
}
.services .block .bloc-one .block-1-first-row .text-overlay {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 3;
  max-width: 400px;
  text-align: left;
  color: #fff;
}
.services .block .bloc-one .block-1-first-row .text-overlay h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}
.services .block .bloc-one .block-1-first-row .text-overlay p {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 25px;
}
.services .block .bloc-one .block-1-first-row .btn-overlay {
  position: absolute;
  display: flex;
  padding: 212px 101px 62px 500px;
  gap: 10px;
  z-index: 3;
}
.services .block .bloc-one .block-1-first-row .btn-overlay .btn-application {
  background-color: #0071BC;
  color: #fff;
  width: 187px;
  height: 51px;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.services .block .bloc-one .block-1-first-row .btn-overlay .btn-detail {
  background-color: #fff;
  color: #18A14F;
  padding: 15px 20px;
  width: 142px;
  height: 51px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.services .block .bloc-one .block-2-first-row {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  height: 325px;
  cursor: pointer;
  background-image: url("/assets/img/main-services-two.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.services .block .bloc-one .block-2-first-row .overlay-img img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  pointer-events: none;
}
.services .block .bloc-one .block-2-first-row .block {
  padding: 124px 40px 50px 40px;
}
.services .block .bloc-one .block-2-first-row .block .img-blue-detail {
  position: absolute;
  z-index: 3;
}
.services .block .bloc-one .block-2-first-row .block h2 {
  position: absolute;
  left: 40px;
  bottom: 40px;
  z-index: 3;
  color: #fff;
  font-size: 22px;
  line-height: 1.3;
  max-width: 250px;
}
.services .block .block-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 169px 200px 169px;
  gap: 20px;
  border-radius: 15px;
  padding-top: 20px;
}
.services .block .block-two > div {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  padding: 40px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.services .block .block-two > div a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.services .block .block-two > div img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.services .block .block-two > div h2 {
  font-size: 26px;
  color: #fff;
  text-align: left;
  margin: 0;
  font-weight: 600;
}
.services .block .block-two > div:nth-child(1), .services .block .block-two > div:nth-child(3), .services .block .block-two > div:nth-child(5), .services .block .block-two > div:nth-child(7), .services .block .block-two > div:nth-child(9) {
  background-color: #39B54A;
}
.services .block .block-two > div:nth-child(2), .services .block .block-two > div:nth-child(4), .services .block .block-two > div:nth-child(6), .services .block .block-two > div:nth-child(8) {
  background-color: #0071BC;
}

.csd {
  margin-top: 60px;
  height: 356px;
  background-color: #F2F2F2;
}
.csd .block {
  position: relative;
  padding: 40px;
}
.csd .block img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  height: 356px;
  width: 210px;
}
.csd .block h1, .csd .block .block-csd {
  position: relative;
  z-index: 1;
}
.csd .block h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: left;
  margin: 0;
  padding-top: 20px;
}
.csd .block .block-csd {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  position: relative;
  z-index: 1;
}
.csd .block .block-csd .block-one {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 20px;
}
.csd .block .block-csd .block-one h1 {
  font-size: 24px;
}

.write-downs {
  padding: 60px 40px;
  height: 655px;
}
.write-downs .block {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.write-downs .block .text {
  display: grid;
  justify-content: end;
  align-items: flex-start;
  margin-top: 0;
  padding-top: 0;
  padding-left: 40px;
}
.write-downs .block .text h1 {
  margin: 0;
  padding-top: 73px;
  font-size: 56px;
  font-weight: 500;
}
.write-downs .block .text p {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
}
.write-downs .block .text .block {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.write-downs .block .text .block .block-one,
.write-downs .block .text .block .block-two,
.write-downs .block .text .block .block-three {
  height: 103px;
  width: auto;
  border-radius: 15px;
  background: linear-gradient(to left, #EFF6FD, #DDE3E8);
}
.write-downs .block .text .block .block-one .text-block,
.write-downs .block .text .block .block-two .text-block,
.write-downs .block .text .block .block-three .text-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 15px;
}
.write-downs .block .text .block .block-one img,
.write-downs .block .text .block .block-two img,
.write-downs .block .text .block .block-three img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.write-downs .block .text .block .block-one p,
.write-downs .block .text .block .block-two p,
.write-downs .block .text .block .block-three p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
}
.write-downs .block .text .block .block-three {
  height: 82px;
}

.knowledge-base {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  background-color: #F2F2F2;
}
.knowledge-base .container {
  padding: 60px 40px;
}
.knowledge-base .container .search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.knowledge-base .container .search-section .knowledge-title {
  font-size: 36px;
  white-space: nowrap;
  margin: 0;
  flex-shrink: 0;
}
.knowledge-base .container .search-section .search-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 51px;
  background: white;
  border-radius: 12px;
  border: 1px solid #39B54A;
  position: relative;
  overflow: hidden;
}
.knowledge-base .container .search-section .search-input {
  flex: 1;
  border-radius: 10px;
  outline: none;
  padding: 0 60px 0 20px;
  font-size: 16px;
  height: 100%;
  color: #282828;
  background-color: #f9f9f9;
  border: none;
}
.knowledge-base .container .search-section .search-input::placeholder {
  color: #282828;
  font-size: 16px;
}
.knowledge-base .container .search-section .search-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.knowledge-base .container .search-section .search-btn img {
  width: 20px;
  height: 20px;
}
.knowledge-base .container .articles-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 30px;
}
.knowledge-base .container .articles-grid .article-card {
  height: 271px;
  width: auto;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}
.knowledge-base .container .articles-grid .article-card h3 {
  padding: 0;
  padding-top: 20px;
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}
.knowledge-base .container .articles-grid .article-card .article-subtitle {
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}
.knowledge-base .container .articles-grid .article-card .read-more-btn {
  background: none;
  border: none;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 32px;
  margin: 0;
  font: inherit;
  font-size: 16px;
  cursor: pointer;
  outline: inherit;
  color: #39B54A;
  text-decoration: underline;
  display: inline;
}
.knowledge-base .container .view-all-link {
  margin-top: 30px;
  text-decoration: none;
  color: inherit;
  display: block;
  width: 97%;
  text-align: center;
  background: white;
  color: #39B54A;
  padding: 12px 24px;
  border: 1px solid #39B54A;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.debt {
  height: 478px;
}
.debt .debt-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.debt .debt-wrapper .debt-block {
  background: linear-gradient(to left, #FFFFFF, #F2F2F2);
}
.debt .debt-wrapper .debt-block .block-title {
  padding: 0;
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  color: #282828;
}
.debt .debt-wrapper .debt-block .block-debt {
  margin: 0;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 20px;
}
.debt .debt-wrapper .debt-block .block-debt .item-block {
  margin: 0;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(to left, #EFF6FD, #DDE3E8);
}
.debt .debt-wrapper .debt-block .block-debt .item-block h1 {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 15px;
}
.debt .debt-wrapper .debt-block .block-debt .item-block .icon-row {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.debt .debt-wrapper .debt-block .block-debt .item-block .icon-row .img {
  padding: 0 15px 0 0;
}
.debt .debt-wrapper .debt-block .block-debt .item-block .icon-row p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
}
.debt .debt-wrapper .left-block {
  padding: 60px 20px 60px 41px;
}
.debt .debt-wrapper .right-block {
  padding: 60px 42px 74px 19px;
}

.questions .container {
  padding: 40px;
  margin: 0;
  background-color: #fff;
}
.questions .container .heading {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #282828;
  text-align: center;
}
.questions .container .item {
  padding: 0;
  margin: 0 0 10px 0;
  height: 74px;
  width: 100%;
  border-radius: 15px;
  background-color: #F2F2F2;
  gap: 10px;
}
.questions .container .item .question {
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  color: #333;
}
.questions .container .item .question p {
  padding: 0;
  margin: 0;
  font-size: 22px;
}
.questions .container .item .question .arrow {
  width: 34px;
  height: 34px;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}
.questions .container .item.expanded {
  padding: 0;
  margin: 0 0 10px 0;
  height: 115px;
  width: 100%;
  border-radius: 15px;
  background-color: #ffffff;
  gap: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1490196078);
}
.questions .container .item.expanded .question {
  padding: 20px 20px 10px 20px;
}
.questions .container .item.expanded .answer {
  display: block;
}
.questions .container .item.expanded .answer.visible {
  padding: 0 20px 30px 20px;
  margin: 0;
  color: #282828;
  font-size: 18px;
  font-weight: 500;
}
.questions .container .item.expanded .answer.visible p {
  margin: 0;
}
.questions .container .all-questions-btn {
  display: block;
  height: 51px;
  width: 100%;
  padding: 15px;
  background-color: white;
  color: #39B54A;
  border: 1px solid #39B54A;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 30px;
  transition: all 0.3s ease;
}

.video {
  padding: 20px 40px 60px 40px;
  margin: 0;
}
.video .main-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
  grid-template-rows: repeat(2, 1fr);
}
.video .main-block .text {
  padding-bottom: 110px;
  height: 255px;
  width: auto;
}
.video .main-block .text h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  text-align: left;
}
.video .main-block .text p {
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 20px;
  font-family: 500;
}
.video .main-block .text .button {
  margin: 0;
  padding-top: 30px;
  padding-right: 71px;
}
.video .main-block .text .button button {
  margin: 0;
  padding: 15px 20px;
  background-color: #39B54A;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border-radius: 15px;
  border: none;
}
.video .main-block .block-video .img {
  position: relative;
  height: 217px;
  width: 100%;
  border-radius: 15px;
  background-image: url("/assets/img/image-video.png");
  background-size: cover;
}
.video .main-block .block-video .img img {
  position: absolute;
  display: block;
  padding: 77px 130px 76px 131px;
}
.video .main-block .block-video .text-block h1 {
  font-size: 18px;
  font-weight: 600;
}
.video .main-block .block-video .text-block p {
  font-size: 16px;
  font-weight: 500;
}
.video .main-block .block-video .text-block a {
  font-size: 16px;
  font-weight: 600;
  color: #39B54A;
}

.consultation {
  padding: 0 40px 0 40px;
}
.consultation .block-consult .heading-consult {
  font-size: 24px;
  font-weight: 600;
  opacity: 50%;
  margin: 0;
  padding-top: 147px;
  padding-bottom: 30px;
}
.consultation .block-consult .form-container {
  position: relative;
  padding-bottom: 60px;
}
.consultation .block-consult .form-container .style-font {
  position: relative;
  height: 317px;
  width: 100%;
  border-radius: 20px;
  background-color: #39B54A;
}
.consultation .block-consult .form-container .style-font form {
  padding: 40px 500px 46px 40px;
  height: 231px;
  max-width: 820px;
}
.consultation .block-consult .form-container .style-font form .heading-form {
  margin: 0;
  padding-bottom: 30px;
  font-size: 36px;
  color: white;
  font-weight: 600;
  text-align: left;
}
.consultation .block-consult .form-container .style-font form .form-fields {
  display: flex;
  gap: 20px;
}
.consultation .block-consult .form-container .style-font form .form-fields .name, .consultation .block-consult .form-container .style-font form .form-fields .phone {
  flex: 1;
}
.consultation .block-consult .form-container .style-font form .form-fields .name input, .consultation .block-consult .form-container .style-font form .form-fields .phone input {
  width: 100%;
  height: 51px;
  background-color: #ffffff;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
}
.consultation .block-consult .form-container .style-font form .form-fields .name input::placeholder, .consultation .block-consult .form-container .style-font form .form-fields .phone input::placeholder {
  color: #282828;
  opacity: 40%;
}
.consultation .block-consult .form-container .style-font form .form-fields .sum {
  flex: 1;
}
.consultation .block-consult .form-container .style-font form .form-fields .sum .sum-inner {
  width: 100%;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0 20px;
  box-sizing: border-box;
}
.consultation .block-consult .form-container .style-font form .form-fields .sum .sum-inner .counter-btn {
  background-color: #39B54A;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.consultation .block-consult .form-container .style-font form .form-fields .sum .sum-inner .counter-btn img {
  display: block;
  width: 24px;
  height: 24px;
}
.consultation .block-consult .form-container .style-font form .form-fields .sum .sum-inner .counter-label {
  color: #282828;
  opacity: 40%;
  font-size: 16px;
  user-select: none;
}
.consultation .block-consult .form-container .style-font form .form-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
}
.consultation .block-consult .form-container .style-font form .form-footer .checkbox-block {
  display: flex;
  align-items: center;
}
.consultation .block-consult .form-container .style-font form .form-footer .checkbox-block .checkbox-input {
  display: none;
}
.consultation .block-consult .form-container .style-font form .form-footer .checkbox-block .checkbox-custom {
  width: 28px;
  height: 28px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.4862745098);
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}
.consultation .block-consult .form-container .style-font form .form-footer .checkbox-block .checkbox-input:checked + .checkbox-custom::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 3px;
  width: 10px;
  height: 16px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.consultation .block-consult .form-container .style-font form .form-footer .checkbox-block .checkbox-text {
  color: #ffffff;
  font-size: 14px;
}
.consultation .block-consult .form-container .style-font form .form-footer .btn button {
  height: 51px;
  background-color: #0071BC;
  color: #ffffff;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
}
.consultation .block-consult .form-container .block-img {
  position: absolute;
  top: -205px;
  right: 40px;
  height: 450px;
  z-index: 10;
}
.consultation .block-consult .form-container .block-img .block-img img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 347px;
  background: url("/assets/img/footer-group.png");
}
footer .footer-container {
  padding: 40px 40px 0 40px;
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 80px;
}
footer .footer-container .footer-column-one {
  max-width: 325px;
}
footer .footer-container .footer-column-one .block-map {
  margin: 0;
  padding: 20px 0 30px 0;
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
}
footer .footer-container .footer-column-one .block-map .text-map {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
  opacity: 50%;
  font-weight: 500;
}
footer .footer-container .footer-column-one .text {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 30px;
}
footer .footer-container .footer-column-one .btn-footer {
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #39B54A;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border: none;
}
footer .footer-container .footer-column-two nav {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 80px;
}
footer .footer-container .footer-column-two nav .one, footer .footer-container .footer-column-two nav .two {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
footer .footer-container .footer-column-two nav .one .footer__menu-link, footer .footer-container .footer-column-two nav .two .footer__menu-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}
footer .footer-container .footer-column-three {
  padding-left: 208px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .footer-container .footer-column-three .footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .footer-container .footer-column-three .footer__contacts .footer__contact-link {
  text-decoration: none;
  font-size: 32px;
  color: #FFFFFF;
  font-weight: 700;
}
footer .footer-container .footer-column-three .footer__contacts .footer__contact-link-two {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  opacity: 70%;
  font-weight: 700;
}
footer .footer-container .footer-column-three .footer__contacts .footer__contact-link-three {
  text-decoration: none;
  padding-top: 15px;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}
footer .footer-container .footer-column-three .footer__socials {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
footer .footer-container .footer-column-three .footer__socials .text-socials {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #fff;
  opacity: 50%;
  font-weight: 500;
}
footer .footer-container .footer-column-three .footer__socials .block-icon {
  display: flex;
  gap: 10.55px;
}

.text .block {
  padding: 20px 40px 0 40px;
}
.text .block p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  color: #282828;
}
.text .block p a {
  text-decoration: none;
  color: #282828;
}

.services {
  padding: 20px 40px 60px 80px;
}
.services .conteiner .conteiner-text {
  height: 285px;
  min-width: 714px;
  padding: 75px 100% 89px 0;
}
.services .conteiner .conteiner-text .text-one {
  font-size: 24px;
  font-weight: 500;
  color: #282828;
  text-align: left;
  margin: 0;
  padding-bottom: 22px;
}
.services .conteiner .conteiner-text h1 {
  font-size: 56px;
  font-weight: 600;
  color: #282828;
  padding-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
