@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html, body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-logo-icon {
  width: 100%;
  height: 100px;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
}
.header-logo-icon .logo-set {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
}
.header-logo-icon .logo-set .img-map {
  margin-left: 10px;
}
.header-logo-icon .contact {
  width: 176px;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}
.header-logo-icon .contact .contact-text {
  font-size: 14px;
  color: #282828;
}

.header-consult {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
}
.header-consult .block-consult {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.header-consult .block-consult .num-consult {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-consult .block-consult .num-consult .num {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}
.header-consult .block-consult .num-consult .consult {
  margin: 0;
  font-size: 16px;
}
.header-consult .block-consult .btn-header-consult {
  padding: 15px 20px;
  text-align: center;
  font-size: 21px;
  border-radius: 10px;
  background-color: #39B54A;
  color: white;
  border: none;
  white-space: nowrap;
}

.nav {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;
  border-top: 2px solid #dfdfdf;
  border-bottom: 2px solid #dfdfdf;
}
.nav .nav-ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-evenly;
}
.nav .nav-ul .link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.banner-debt {
  margin: 0;
  padding: 20px 80px 45px 80px;
}
.banner-debt .block-banner-debt {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 38px;
  align-items: center;
}
.banner-debt .block-banner-debt .text-debt {
  margin: 0;
}
.banner-debt .block-banner-debt .text-debt .p-one {
  padding: 0;
  margin: 0;
  font-size: 24px;
  white-space: nowrap;
}
.banner-debt .block-banner-debt .text-debt .bold {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 20px;
  font-size: 56px;
  white-space: nowrap;
  font-weight: 600;
}
.banner-debt .block-banner-debt .text-debt .bold span {
  font-weight: 700;
}
.banner-debt .block-banner-debt .text-debt .p-two {
  margin: 0;
  font-size: 24px;
}
.banner-debt .block-banner-debt .text-debt .btn {
  margin: 0;
  padding-top: 30px;
}
.banner-debt .block-banner-debt .text-debt .btn .btn-get-consult {
  display: block;
  margin: 0;
  padding: 25px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  background-color: #0071BC;
  color: white;
  border: none;
  white-space: nowrap;
  width: fit-content;
}
.banner-debt .block-banner-debt .text-debt .p-three {
  font-size: 16px;
}
.banner-debt .block-banner-debt .img {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.banner-debt .block-banner-debt .img .img-main {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services .block h1 {
  font-size: 36px;
  text-align: center;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
