@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: white;
}

// Шапка сайта
.header{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-logo-icon {
    width: 100%;
    height: 100px;
    display: grid;
    align-items: center;  
    justify-content: space-evenly;
    grid-template-rows: 1fr; 
    grid-auto-flow: column;

    .logo-set {
        display: grid;
        align-items: center; 
        justify-content: center; 
        grid-template-rows: 1fr; 
        grid-auto-flow: column;

        .img-map {
           margin-left: 10px; 
        }
    }

    .contact {
        width: 176px;
        display: grid;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;

        .contact-text {
            font-size: 14px;
            color: #282828;
        }
    }

}


.header-consult {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
       
    .block-consult {
        display: grid;
        grid-template-columns: auto auto; // Две колонки: текст и кнопка
        grid-auto-flow: column;
        align-items: center;
        gap: 20px; // Расстояние между текстом и кнопкой
        justify-content: center;

        .num-consult {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            .num {
                margin: 0;
                font-size: 24px;
                font-weight: 700;  
            }
    
            .consult {
                margin: 0;
                font-size: 16px;
            }
        }
        
        .btn-header-consult {
            padding: 15px 20px;
            text-align: center;
            font-size: 21px;
            border-radius: 10px;
            background-color: #39B54A;
            color: white;
            border: none;
            white-space: nowrap; // Чтобы текст кнопки не переносился
        }
    }

}


.nav {
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
    border-top: 2px solid #dfdfdf;
    border-bottom: 2px solid #dfdfdf;

    .nav-ul {
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-evenly;

        .link {
            text-decoration: none;
            color: inherit;
            font-weight: 500;
        }
    }
}



// баннер списание долгов

.banner-debt {
    margin: 0;
    padding: 20px 80px 45px 80px;

    .block-banner-debt {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 38px;
        align-items: center; 

        .text-debt {
            margin: 0;
            .p-one {
                padding: 0;
                margin: 0;
                font-size: 24px;
                white-space: nowrap; 
            }
            .bold {
                margin: 0;
                padding-top: 22px;
                padding-bottom: 20px;
                font-size: 56px;
                white-space: nowrap; 
                font-weight: 600;

                span {
                    font-weight: 700;
                }
            }
            .p-two {
                margin: 0;
                font-size: 24px;
            }
            .btn {
                margin: 0;
                padding-top: 30px;

                .btn-get-consult{
                display: block;
                margin: 0;
                padding: 25px;
                text-align: center;
                font-size: 18px;
                border-radius: 10px;
                background-color: #0071BC;
                color: white;
                border: none;
                white-space: nowrap;
                width: fit-content; 
                }
            }
            
            .p-three {
                font-size: 16px;
            }
        }

        .img {
            display: block;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            
            .img-main{
                width: 100%;
                height: 100%;
                object-fit: cover; 
            }
        }
    }
}




// Блок услуги

.services {
    padding: 0 40px;
    
    .block {
        h1 {
            text-align: center;
            font-size: 48px;
            margin-bottom: 40px;
        }
        .bloc-one {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 20px;
            margin-top: 40px;

        .block-1-first-row {
            position: relative;
            border-radius: 15px;
            overflow: hidden;
            height: 325px;

            background-image: url('/assets/img/services-main-one.svg');
            background-size: contain;         
            background-repeat: no-repeat;
            background-position: left center;

            .overlay-img img {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: right center;  
                z-index: 2;
                pointer-events: none;
            }

            .text-overlay {
                position: absolute;
                top: 40px;
                right: 40px;       
                z-index: 3;
                max-width: 400px;
                text-align: left;  
                color: #fff;

                h2 {
                    font-size: 26px;
                    font-weight: 700;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 18px;
                    line-height: 1.4;
                    margin-bottom: 25px;
                }
            }

            .btn-overlay {
                position: absolute;     
                display: flex;
                padding: 212px 101px 62px 500px;
                gap: 10px;
                z-index: 3;

                .btn-application {
                    background-color: #0071BC;
                    color: #fff;
                    width: 187px;
                    height: 51px;
                    padding: 15px 20px;
                    border-radius: 10px;
                    font-size: 18px;
                    border: none;
                    cursor: pointer;
                }

                .btn-detail {
                    background-color: #fff;
                    color: #18A14F;
                    padding: 15px 20px;
                    width: 142px;
                    height: 51px;
                    border-radius: 10px;
                    font-size: 18px;
                    border: none;
                    cursor: pointer;
                }
                
    }
  }

  .block-2-first-row {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    height: 325px;
    cursor: pointer;

    background-image: url('/assets/img/main-services-two.svg');
    background-size: cover;        
    background-repeat: no-repeat;
    background-position: center;

    .overlay-img img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2;
      pointer-events: none;
    }

    .block {
        padding: 124px 40px 50px 40px;
        .img-blue-detail {
      position: absolute;
      z-index: 3;
        }

    h2 {
      position: absolute;
      left: 40px;
      bottom: 40px;
      z-index: 3;
      color: #fff;
      font-size: 22px;
      line-height: 1.3;
      max-width: 250px;
    }
    }
    
  }
}

.block-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 169px 200px 169px;
  gap: 20px;
  border-radius: 15px;
  padding-top: 20px;

  > div {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    padding: 40px;
    transition: transform 0.3s, box-shadow 0.3s;
    
    a {
      text-decoration: none; 
      color: inherit;        
      display: block;        
    }

    img {
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 26px;
      color: #fff;
      text-align: left;
      margin: 0;
      font-weight: 600;
    }

    
    &:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(7), &:nth-child(9) {
      background-color: #39B54A; 
    }
    &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8) {
      background-color: #0071BC; 
    }
  }
}

    }
}



// Блок ЦСД

.csd {
  margin-top: 60px;
  height: 356px;
  background-color: #F2F2F2;

  .block {
    position: relative;
    padding: 40px;

    img {
      position: absolute;           
      right: 0;
      top: 50%;      
      transform: translateY(-50%);       
      z-index: 0;
      height: 356px;        
      width: 210px;          
    }

    h1, .block-csd {
      position: relative; 
      z-index: 1;
      
    }

    h1 {
      font-size: 36px;
      font-weight: 600;
      text-align: left;
      margin: 0;
      padding-top: 20px;
    }

    .block-csd {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      gap: 20px;
      margin-top: 30px;
      position: relative;
      z-index: 1; 

      .block-one {
        background-color: #FFFFFF;
        border-radius: 15px;
        padding: 20px;

        h1 {
            font-size: 24px;
        }
      }
    }
  }
}



// Блок процедура списания

.write-downs {
    padding: 60px 40px;
    height: 655px;

    .block {
        position: relative;
        display: flex;           
        align-items: flex-start;     
        gap: 40px;            

        .text {
            display: grid;
            justify-content: end; 
            align-items: flex-start;
            margin-top: 0;
            padding-top: 0;
            padding-left: 40px;
             

            h1 {
                margin: 0;
                padding-top: 73px;
                font-size: 56px;
                font-weight: 500;
            }

            p {
                margin: 0;
                padding-top: 20px;
                padding-bottom: 40px;
                font-size: 20px;
                font-weight: 500;
            }

            .block {
                padding: 0;
                margin: 0;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;

                .block-one,
                .block-two,
                .block-three {
                    height: 103px;
                    width: auto;
                    border-radius: 15px;
                    background: linear-gradient(to left, #EFF6FD, #DDE3E8);
                    
                    .text-block {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;      
                        padding: 20px;  
                        gap: 15px;             
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        flex-shrink: 0;
                    }

                    p {
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                .block-three {
                    height: 82px;
                }
            }

        }
    }
}




//  База знаний

.knowledge-base {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    
    .container {
        padding: 60px 40px;

        .search-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 20px;

            .knowledge-title { 
            font-size: 36px;
            white-space: nowrap; 
            margin: 0;
            flex-shrink: 0; 
        }

        .search-container {
            display: flex;
            align-items: stretch;
            width: 100%;
            height: 51px;
            background: white;
            border-radius: 12px;
            border: 1px solid #39B54A;
            position: relative; 
            overflow: hidden;
        }

        .search-input {
            flex: 1;
            border-radius: 10px;
            outline: none;
            padding: 0 60px 0 20px;
            font-size: 16px;
            height: 100%;
            color: #282828;
            background-color: #f9f9f9;
            border: none;
        }

        .search-input::placeholder {
            color: #282828;
            font-size: 16px;
        }

        .search-btn {
            position: absolute;
            right: 0; 
            top: 0;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0 20px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .search-btn img {
            width: 20px;
            height: 20px;
        }
        }

        
        .articles-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            padding-top: 30px;

            .article-card {
               height: 271px;
               width: auto;
               background-color: white;
               border-radius: 15px;
               padding: 20px;

               h3 {
                padding: 0;
                padding-top: 20px;
                margin: 0;
                font-size: 22px;
                font-weight: 600;
                
               }

               .article-subtitle {
                padding: 0;
                margin: 0;
                font-size: 22px;
                font-weight: 600;
               }

               .read-more-btn{
                    background: none;
                    border: none;
                    padding: 0;
                    padding-top: 25px;
                    padding-bottom: 32px;
                    margin: 0;
                    font: inherit;
                    font-size: 16px;
                    cursor: pointer;
                    outline: inherit;
                    color: #39B54A; 
                    text-decoration: underline;
                    display: inline;
               }
            }
        }
       
        .view-all-link {
            margin-top: 30px;
            text-decoration: none;
            color: inherit;
            display: block; 
            width: 97%;
            text-align: center;
            background: white;
            color: #39B54A;
            padding: 12px 24px;
            border: 1px solid #39B54A;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
        }

    }

}

