@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// глобально
@import "base/global";

// секции
@import "sections/header";
@import "sections/banner-debt";
@import "sections/services";
@import "sections/csd";
@import "sections/write-downs";
@import "sections/base";
@import "sections/debt";
@import "sections/questions";
@import "sections/video";
@import "sections/consultation";
@import "sections/footer";
@import "sections/text";
@import "sections/service-page";


