.article-1 {
    padding: 20px 40px 40px 40px;

    .block-article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        align-items: start;

        .block-1 {
            h1 {
                font-size: 56px;
                font-weight: 500;
                color: #282828;
                margin: 0;
                padding-bottom: 20px;
            }

            p {
                margin: 0;
                font-size: 18px;
                font-weight: 500;
                color: #282828;
            }
        }

        .block-2 {
            border-radius: 15px;
            background-color: #FBFBFB;
            padding: 20px 20px 30px 20px;
            h2 {
                font-size: 22px;
                font-weight: 600;
                margin: 0;
                padding-bottom: 15px;
                color: #282828;
            }

            p {
                font-size: 18px;
                font-weight: 500;
                color: #282828;
                margin: 0;
                padding-bottom: 25px;
            }

            .btn {
                a {
                    margin: 0;
                    font-size: 16px;
                    color: #39B54A;
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) and (min-width: 1000px) {
    .article-1 {
        .block-article {
            .block-1 {
                h1 {
                    font-size: 5vw;
                }
                p {
                    font-size: 1.6vw;
                }
            }
            .block-2 {
                h2 {
                    font-size: 1.8vw;
                }
                p {
                    font-size: 1.6vw;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    .article-1 {
        .block-article {
            .block-1 {
                h1 {
                    font-size: 4vw;
                }
                p {
                    font-size: 1.7vw;
                }
            }
            .block-2 {
                h2 {
                    font-size: 1.8vw;
                }
                p {
                    font-size: 1.6vw;
                }
                .btn {
                    a {
                        font-size: 1.6vw;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
    .article-1 {
        .block-article {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
            .block-1 {
                h1 {
                    font-size: 6vw;
                    padding-bottom: 15px;
                }
                p {
                    font-size: 2.7vw;
                }
            }
            .block-2 {
                h2 {
                    font-size: 2.7vw;
                }
                p {
                    font-size: 2.3vw;
                }
                .btn {
                    a {
                        font-size: 2.2vw;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .article-1 {
        padding: 20px 15px 40px;
        .block-article {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            .block-1 {
                h1 {
                    font-size: 32px;
                    font-weight: 500;
                    padding-bottom: 15px;
                }
                p {
                    font-size: 16px;
                }
            }
            .block-2 {
                padding: 20px;
                h2 {
                    font-size: 18px;
                    padding-bottom: 15px;
                }
                p {
                    font-size: 16px;
                }
                .btn {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}