.articles-2 {
.knowledge-base {
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    
    .container {
        padding: 60px 40px;

        .search-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 20px;

        .search-container {
            display: flex;
            align-items: stretch;
            width: 100%;
            height: 51px;
            background: white;
            border-radius: 12px;
            border: 1px solid #39B54A;
            position: relative; 
            overflow: hidden;
        }

        .search-input {
            flex: 1;
            border-radius: 10px;
            outline: none;
            padding: 0 60px 0 20px;
            font-size: 16px;
            height: 100%;
            color: #282828;
            opacity: 30%;
            background-color: #f9f9f9;
            border: none;
        }

        .search-input::placeholder {
            color: #282828;
            font-size: 16px;
        }

        .search-btn {
            position: absolute;
            right: 0; 
            top: 0;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0 20px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .search-btn img {
            width: 20px;
            height: 20px;
        }
        }

        
        .articles-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            padding-top: 30px;

            .article-card {
               height: 271px;
               width: auto;
               background-color: white;
               border-radius: 15px;
               padding: 20px;

               h3 {
                padding: 0;
                padding-top: 20px;
                margin: 0;
                font-size: 22px;
                font-weight: 600;
                
               }

               .article-subtitle {
                padding: 0;
                margin: 0;
                font-size: 22px;
                font-weight: 600;
               }

               .read-more-btn{
                    background: none;
                    border: none;
                    padding: 0;
                    padding-top: 25px;
                    padding-bottom: 32px;
                    margin: 0;
                    font: inherit;
                    font-size: 16px;
                    cursor: pointer;
                    outline: inherit;
                    color: #39B54A; 
                    text-decoration: underline;
                    display: inline;
               }
            }
        }

    }

}
}



@media screen and (max-width: 1200px) and (min-width: 900px) {
    .articles-2 {
        .knowledge-base {
            .container {
                padding-top: 40px;

                .articles-grid {

                    .article-card {
                        height: auto;

                        .article-content {
                            .article-title {
                                font-size: 2.2vw;
                                padding-top: 0;
                                padding-bottom: 5px;
                            }
                            .article-subtitle {
                                font-size: 1.5vw;
                            }
                            .article-excerpt {
                                font-size: 1.3vw;
                                margin: 0;
                                padding-top: 15px;
                            }
                        }

                        .read-more-btn {
                            padding: 15px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}   

@media screen and (max-width: 900px) and (min-width: 600px) {
    .articles-2 {
        .knowledge-base {
            .container {
                padding-top: 40px;

                .articles-grid {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20px;

                    .article-card {
                        height: auto;
                        .article-content {
                            .article-title {
                                font-size: 3vw;
                            }
                            .article-subtitle {
                                font-size: 2vw;
                                padding-top: 5px;
                            }
                            .article-excerpt {
                                font-size: 1.8vw;
                                margin: 0;
                                padding-top: 10px;
                                padding-bottom: 10px;
                            }
                        }

                        .read-more-btn {
                            padding: 0;
                        }
                    }


                    .thre {
                        display: none;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 600px) and (min-width: 500px) {
    .articles-2 {
        .knowledge-base {
        .container {
            padding: 34px 20px 30px;

            .articles-grid {
                display: grid;
                grid-template-columns: 1fr;
                gap: 20px;
                .article-card {
                    height: auto;
                    .article-content {
                        .article-title {
                            font-size: 22px;
                            padding-bottom: 5px;
                        }
                        .article-subtitle {
                            font-size: 18px;
                        }
                        .article-excerpt {
                            font-size: 20px;
                        }
                    }
                    .read-more-btn {
                        padding: 0;
                    }
                }
            }
        }

        .view-all-section {
            .view-all-link {
                width: 86%;
                font-size: 20px;
            }
        }
        
    }
    }
    
}

@media screen and (max-width: 500px) {
    .articles-2 {
        .knowledge-base {
        .container {
            padding: 34px 20px 30px;

            .articles-grid {
                display: grid;
                grid-template-columns: 1fr;
                gap: 20px;
                .article-card {
                    height: auto;
                    .article-content {
                        .article-title {
                            font-size: 18px;
                            
                        }
                        .article-subtitle {
                            font-size: 18px;
                        }
                        .article-excerpt {
                            font-size: 15px;
                        }
                    }
                    .read-more-btn {
                        padding: 0;
                    }
                }
            }
        }

        .view-all-section {
            .view-all-link {
            width: 86%;
        }
        }
        
    }
    }
    
}