
.banner-debt {
    margin: 0;
    padding: 20px 80px 45px 80px;

    .block-banner-debt {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 38px;
        align-items: center; 

        .text-debt {
            margin: 0;
            .p-one {
                padding: 0;
                margin: 0;
                font-size: 24px;
                white-space: nowrap; 
            }
            .bold {
                margin: 0;
                padding-top: 22px;
                padding-bottom: 20px;
                font-size: 56px;
                white-space: nowrap; 
                font-weight: 600;

                span {
                    font-weight: 700;
                }
            }
            .p-two {
                margin: 0;
                font-size: 24px;
            }
            .btn {
                margin: 0;
                padding-top: 30px;

                .btn-get-consult{
                display: block;
                margin: 0;
                padding: 25px;
                text-align: center;
                font-size: 18px;
                border-radius: 10px;
                background-color: #0071BC;
                color: white;
                border: none;
                white-space: nowrap;
                width: fit-content; 
                }
            }
            
            .p-three {
                font-size: 16px;
            }
        }

        .img {
            display: block;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            
            .img-main{
                width: 100%;
                height: 100%;
                object-fit: cover; 
            }
        }
    }
}

