.bunk-5-section {
    padding: 60px 40px;
    margin: 0;
    overflow: visible; 
    position: relative;

    .shadow-img {
        position: absolute;
        left: 50%; 
        transform: translateX(-50%) translateY(5px);
        width: calc(100% - 160px);
        bottom: 15px;
        z-index: 0; 
    }

    .block-bunck-5{
        position: relative;
        height: auto;
        border-radius: 20px;
        background-color: #0071BC;
        padding: 60px;

        h1 {
            font-size: 36px;
            font-weight: 600;
            color: white;
            margin: 0;
            padding-bottom: 20px;
        }

        .list {
            h2 {
                font-size: 20px;
                color: white;
                font-weight: 500;
                margin: 0;
                padding-bottom: 20px;
            }

            ul {
                margin: 0;
                li {
                    font-size: 20px;
                    color: white;
                    margin: 0;

                    &:nth-child(1) {
                        padding-bottom: 15px;
                    }
                    &:nth-child(2) {
                        padding-bottom: 15px;
                    }
                }
            }

            .btn {
                padding-top: 40px;

                button {
                    padding: 25px;
                    border-radius: 10px;
                    border: none;
                    background-color: white;
                    color: #282828;
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }

        .img {
            position: absolute;
            right: 60px;
            top: 50%;
            transform: translateY(-50%); 
            img {
                display: block;
                max-width: 100%;
                height: auto;
            }
            
        }
    }

}

@media screen and (max-width: 1150px) and (min-width: 900px) {
    .bunk-5-section {
        .shadow-img {
            bottom: 20px;
        }
        .block-bunck-5 {
            h1 {
                font-size: 3.5vw;
            }
            .list {
                h2 {
                    font-size: 2vw;
                }
                ul {
                    li {
                        font-size: 2vw;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) and (min-width: 800px) {
    .bunk-5-section {
        .shadow-img {
            bottom: 30px;
        }
        .block-bunck-5 {
            padding: 40px;
            h1 {
                font-size: 3.4vw;
            }
            .list {
                h2 {
                    font-size: 2vw;
                }
                ul {
                    li {
                        font-size: 2vw;
                    }
                }
            }
            .img {
                right: 0;
                img {
                    width: 90%;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) and (min-width: 700px) {
    .bunk-5-section {
        padding: 60px 30px;
        .shadow-img {
            bottom: 36px;
        }

        .block-bunck-5 {
            padding: 30px;

            h1 {
                font-size: 3.6vw;
            }
            .list {
                h2 {
                    font-size: 2.2vw;
                }
                ul {
                    li {
                        font-size: 2.2vw;
                    }
                }
            }
            .img {
                right: -20px;
                img {
                    width: 80%;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) and (min-width: 600px) {
    .bunk-5-section {
        padding: 60px 30px;
        .shadow-img {
            bottom: 40px;
        }

        .block-bunck-5 {
            padding: 30px;

            h1 {
                font-size: 3.6vw;
            }
            .list {
                h2 {
                    font-size: 2.5vw;
                }
                ul {
                    li {
                        font-size: 2.5vw;
                    }
                }

                .btn {
                    .btn-bunk-5 {
                        padding: 15px;
                        font-size: 2.7vw;
                    }
                }
            }
            .img {
                top: 57%;
                right: -60px;
                img {
                    width: 70%;
                    height: auto;
                }
            }
        }
    }
}