.section-bunk-3 {
    padding: 0;
    margin: 0;

    .container-bunk-3 {

        h1 {
            font-size: 56px;
            font-weight: 500;
            text-align: center;
            padding-bottom: 30px;
            margin: 0;
        }

        .block-section-3 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .block-3 {
                background: linear-gradient(to right, #F2F2F2, #FFFFFF);

                
                &.one {
                    padding: 60px 20px 60px 41px;

                }
                &.two {
                    padding: 60px 42px 129px 19px;
                }

                h2 {
                    font-size: 42px;
                    font-weight: 500;
                    color: #282828;
                    margin: 0;
                    padding-bottom: 40px;
                }

                .list {
                    ul {
                        margin: 0;
                        li {
                            font-size: 20px;
                            font-weight: 500;
                            margin: 0;
                            padding-bottom: 40px;

                            .bold-text {
                                font-weight: 700;
                            }

                            
                        }

                        .li-stop {
                                padding-bottom: 0;
                                margin: 0;
                            }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) and (min-width: 1000px) {
    .section-bunk-3 {
        .container-bunk-3 {
            h1 {
                font-size: 5vw;
            }

            .block-section-3 {
                .block-3 {

                    h2 {
                        font-size: 4vw;
                    }
                    .list {
                        ul {
                            padding-left: 20px;
                            li {
                                font-size: 1.4vw;
                                padding-bottom: 5%
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    .section-bunk-3 {
        .container-bunk-3 {
            h1 {
                font-size: 5vw;
            }

            .block-section-3 {
                display: grid;
                grid-template-columns: 1fr;
                .block-3 {

                    &.one {
                        padding: 40px 20px 50px 40px;
                        background: linear-gradient(to right, #F2F2F2, #FFFFFF);
                    }
                    &.two {
                        padding: 40px 20px 50px 40px;
                        background: linear-gradient(to left, #F2F2F2, #FFFFFF);
                    }

                    h2 {
                        padding-left: 20px;
                        font-size: 4vw;
                        padding-bottom: 25px;
                    }
                    .list {
                        padding-left: 30px;
                        padding-right: 40px;
                        ul {
                            padding-left: 20px;
                            li {
                                font-size: 2vw;
                                padding-bottom: 3%
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
    .section-bunk-3 {
        .container-bunk-3 {
            h1 {
                font-size: 5vw;
                padding-bottom: 20px;
            }

            .block-section-3 {
                display: grid;
                grid-template-columns: 1fr;
                .block-3 {

                    &.one {
                        padding: 20px 30px 40px 30px;
                        background: linear-gradient(to right, #F2F2F2, #FFFFFF);
                    }
                    &.two {
                        padding: 20px 30px 40px 30px;
                        background: linear-gradient(to left, #F2F2F2, #FFFFFF);
                    }

                    h2 {
                        padding-left: 20px;
                        font-size: 4vw;
                        padding-bottom: 25px;
                    }
                    .list {
                        padding-left: 20px;
                        padding-right: 0px;
                        ul {
                            padding-left: 20px;
                            li {
                                font-size: 2vw;
                                padding-bottom: 3%
                            }
                        }
                    }
                }
            }
        }
    }
}