
.consultation {
    padding: 0 40px 0 40px;

    .block-consult {

        .heading-consult {
            font-size: 24px;
            font-weight: 600;
            opacity: 50%;
            margin: 0;
            padding-top: 147px;
            padding-bottom: 30px;
        }

        .form-container {
            position: relative;
            padding-bottom: 60px;

            .style-font {
                position: relative;
                height: 317px;
                width: 100%;
                border-radius: 20px;
                background-color: #39B54A;

                form {
                    padding: 40px 500px 46px 40px;
                    height: 231px;
                    max-width: 820px;

                    .heading-form {
                        margin: 0;
                        padding-bottom: 30px;
                        font-size: 36px;
                        color: white;
                        font-weight: 600;
                        text-align: left;
                    }
                    
                    .form-fields {
                        display: flex; 
                        gap: 20px;     

                        .name, .phone {
                            flex: 1; 

                            input {
                                width: 100%;
                                height: 51px;
                                background-color: #ffffff;
                                border: none;
                                padding: 15px 20px;
                                font-size: 16px;
                                border-radius: 10px;
                                box-sizing: border-box;
                                outline: none;

                                &::placeholder {
                                    color: #282828;
                                    opacity: 40%;
                                }
                            }
                        }

                        .sum {
                            flex: 1; 

                            .sum-inner {
                                width: 100%;
                                height: 51px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;           
                                background-color: #ffffff;
                                border-radius: 10px;
                                padding: 0 20px;
                                box-sizing: border-box;

                               .counter-btn {
                                    background-color: #39B54A; 
                                    border: none;
                                    width: 24px;
                                    height: 24px;
                                    border-radius: 50%;        
                                    cursor: pointer;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;       

                                    img {
                                        display: block;
                                        width: 24px;           
                                        height: 24px;
                                    }
                                }
            
                                .counter-label {
                                    color: #282828;
                                    opacity: 40%;
                                    font-size: 16px;
                                    user-select: none;         
                                }
                            }
                        }

                    }

                    .form-footer {
                        display: flex;             
                        justify-content: space-between; 
                        align-items: flex-start;        
                        margin-top: 15px;        

                        .checkbox-block {
                            display: flex;
                            align-items: center; 

                           .checkbox-input {
                                display: none;
                            }

                           .checkbox-custom {
                                width: 28px;
                                height: 28px;
                                border: 2px solid #ffffff; 
                                background-color: #ffffff7c;
                                
                                border-radius: 4px;
                                margin-right: 10px;       
                                position: relative;       
                                cursor: pointer;

                                
                            }

                            .checkbox-input:checked + .checkbox-custom::after {
                                content: '';
                                position: absolute;
                                left: 7px;           
                                top: 3px;           
                                width: 10px;         
                                height: 16px;        
                                border: solid #ffffff;     
                                border-width: 0 3px 3px 0;  
                                transform: rotate(45deg);
                            }

                            .checkbox-text {
                                color: #ffffff;
                                font-size: 14px;
                            }
                        }

                        .btn {

                            button {
                                height: 51px;
                                background-color: #0071BC; 
                                color: #ffffff;
                                border: none;
                                padding: 15px 20px;       
                                font-size: 18px;
                                font-weight: 600;
                                border-radius: 10px;
                                
                            }
                        }
                    }
 
                }
            }
            
            .block-img {
                position: absolute;
                top: -205px;
                right: 40px;
                height: 450px;
                z-index: 10;
                .block-img img {
                    height: 100%;
                    width: auto;
                    object-fit: contain; 
                }
            }


        }

    }
}
