
.csd {
  margin-top: 60px;
  height: 356px;
  background-color: #F2F2F2;

  .block {
    position: relative;
    padding: 40px;

    img {
      position: absolute;           
      right: 0;
      top: 50%;      
      transform: translateY(-50%);       
      z-index: 0;
      height: 356px;        
      width: 210px;          
    }

    h1, .block-csd {
      position: relative; 
      z-index: 1;
      
    }

    h1 {
      font-size: 36px;
      font-weight: 600;
      text-align: left;
      margin: 0;
      padding-top: 20px;
    }

    .block-csd {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      gap: 20px;
      margin-top: 30px;
      position: relative;
      z-index: 1; 

      .block-one {
        background-color: #FFFFFF;
        border-radius: 15px;
        padding: 20px;

        h1 {
            font-size: 24px;
        }
      }
    }
  }
}