
.debt {
    height: auto;
    padding: 0 0 60px 0;

    .debt-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .debt-block {
            background: linear-gradient(to left, #FFFFFF, #F2F2F2);

            .block-title {
                padding: 0;
                margin: 0;
                font-size: 42px;
                font-weight: 500;
                color: #282828;
            }

            .block-debt {
                margin: 0;
                padding-top: 20px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: start; 
                gap: 20px;

                .item-block {
                    margin: 0;
                    padding: 20px;
                    border-radius: 15px;
                    background: linear-gradient(to left, #EFF6FD, #DDE3E8);

                    h1 {
                        font-size:  32px;
                        font-weight: 600;
                        margin: 0;
                        padding-bottom: 15px;
                    }

                    .icon-row {
                        margin: 0;
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .img {
                            padding: 0 15px 0 0;
                            
                        }

                        p {
                            margin: 0;
                            padding: 0;
                            font-size: 18px;
                            font-weight: 500;
                            opacity: 80%;
                        }
                    }
                }
            }
            
        }

        .left-block {
            padding: 60px 20px 60px 41px;
        }

        .right-block {
            padding: 60px 42px 74px 19px;
        }
        
    }
}

@media screen and (max-width: 1300px) and (min-width: 1100px) {
    .debt {
        .debt-wrapper {
            .debt-block {
                .block-title {
                    font-size: 3vw;
                }
                .block-debt {
                    .item-block {
                        .icon-row  {
                            p {
                            font-size: 1.7vw;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) and (min-width: 874px) {
    .debt {
        .debt-wrapper {
            .debt-block {
                .block-title {
                    font-size: 3vw;
                }
                .block-debt {
                    .item-block {
                        padding: 15px;
                        h1 {
                            font-size: 3vw;
                        }
                        .icon-row  {
                            p {
                                font-size: 1.4vw;
                            }
                        }
                    }
                }
            }
        }

        .left-block {
            padding: 40px 20px 40px 31px !important;
        }

        .right-block {
            padding: 40px 32px 54px 19px !important;
        }
    }
}

@media screen and (max-width: 874px) and (min-width: 700px) {
    .debt {
        .debt-wrapper {
            .debt-block {
                .block-title {
                    font-size: 3vw;
                }
                .block-debt {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 10px;
                    .item-block {
                        padding: 10px;
                        h1 {
                            font-size: 3vw;
                        }
                        .icon-row  {
                            .img {
                                padding: 0 7px 0 0; 
                                img {
                                    
                                   width: 20px;
                                }
                                
                            }
                            p {
                                font-size: 1.9vw;
                            }
                        }
                    }
                }
            }
        }

        .left-block {
            padding: 40px 20px 40px 31px !important;
        }

        .right-block {
            padding: 40px 32px 54px 19px !important;
        }
    }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
    .debt {
        height: auto;
        .debt-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            .debt-block {
                background: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
                padding: 40px 20px !important;
                .block-title {
                    font-size: 5vw;
                }
                .block-debt {
                    .item-block {
                        h1 {
                                font-size: 4vw;
                            }
                        .icon-row {
                            p {
                                font-size: 2.7vw;
                            }
                        }
                    }
                    
                }
                
            }
        }
        .right-block {
                padding: 0 32px 54px 41px !important;
            }
    }
}

@media screen and (max-width: 500px) {
    .debt {
        height: auto;
        .debt-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            .debt-block {
                background: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
                padding: 40px 20px !important;
                
                .block-title {
                    font-size: 28px;
                    font-weight: 500;
                }

                .block-debt {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 15px;
                }
            }
        }

        
    }
}