footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 347px;
    background: url("/assets/img/footer-group.png");

    .footer-container {
        padding: 40px 40px 0 40px;
        display: grid;
        grid-template-columns: auto auto 1fr;
        column-gap: 80px;

        // первая колонка
        .footer-column-one {
            max-width: 325px;

            .block-map {
                margin: 0;
                padding: 20px 0 30px 0;
                display: flex;
                flex-direction: row;
                gap: 14px;
                align-items: flex-start;
                justify-content: flex-start;

                .text-map {
                    margin: 0;
                    padding: 0;
                    font-size: 16px;
                    color: #fff;
                    opacity: 50%;
                    font-weight: 500;
                }
            }

            .text {
                margin: 0;
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                padding-bottom: 30px;
            }

            .btn-footer {
                padding: 15px 20px;
                border-radius: 10px;
                background-color: #39B54A;
                font-size: 18px;
                font-weight: 700;
                color: #fff;
                border: none;
            }
        }

        // Вторая колонка
        .footer-column-two{

            nav {
                display: grid;
                grid-template-columns: repeat(2, auto);
                column-gap: 80px;

                .one, .two {
                    display: flex;
                    flex-direction: column;
                    gap: 15px 0;

                    .footer__menu-link {
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 500;
                        color: #FFFFFF;
                    }
                }
            }
        }


        // Третья колонка
        .footer-column-three {
            padding-left: 208px;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            
            .footer__contacts {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .footer__contact-link {
                    text-decoration: none;
                    font-size: 32px;
                    color: #FFFFFF;
                    font-weight: 700;
                }
                .footer__contact-link-two {
                    text-decoration: none;
                    font-size: 24px;
                    color: #fff;
                    opacity: 70%;
                    font-weight: 700;
                }
                .footer__contact-link-three {
                    text-decoration: none;
                    padding-top: 15px;
                    font-size: 24px;
                    color: #fff;
                    font-weight: 700;
                }
            }

            .footer__socials {
                padding-top: 15px;
                display: flex;
                flex-direction: row;
                gap: 15px;

                .text-socials {
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                    color: #fff;
                    opacity: 50%;
                    font-weight: 500;
                }

                .block-icon {
                    display: flex;
                    gap: 10.55px;
                }
            }

        }

    }
}
