
.header{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-logo-icon {
    width: 100%;
    height: 100px;
    display: grid;
    align-items: center;  
    justify-content: space-evenly;
    grid-template-rows: 1fr; 
    grid-auto-flow: column;

    .logo-set {
        display: grid;
        align-items: center; 
        justify-content: center; 
        grid-template-rows: 1fr; 
        grid-auto-flow: column;

        .img-map {
           margin-left: 10px; 
        }
    }

    .contact {
        width: 176px;
        display: grid;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;

        .contact-text {
            font-size: 14px;
            color: #282828;
        }
    }

}


.header-consult {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
       
    .block-consult {
        display: grid;
        grid-template-columns: auto auto; // Две колонки: текст и кнопка
        grid-auto-flow: column;
        align-items: center;
        gap: 20px; // Расстояние между текстом и кнопкой
        justify-content: center;

        .num-consult {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            .num {
                margin: 0;
                font-size: 24px;
                font-weight: 700;  
            }
    
            .consult {
                margin: 0;
                font-size: 16px;
            }
        }
        
        .btn-header-consult {
            padding: 15px 20px;
            text-align: center;
            font-size: 21px;
            border-radius: 10px;
            background-color: #39B54A;
            color: white;
            border: none;
            white-space: nowrap; // Чтобы текст кнопки не переносился
        }
    }

}


.nav {
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
    border-top: 2px solid #dfdfdf;
    border-bottom: 2px solid #dfdfdf;

    .nav-ul {
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-evenly;

        .link {
            text-decoration: none;
            color: inherit;
            font-weight: 500;
        }
    }
}
