
.reviws-2 {
    padding: 60px 40px 60px 40px;
    margin: 0;

    .main-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 20px;
        grid-template-rows: repeat(2, 1fr);

        .block-video {

            .img {
                position: relative;
                height: 217px;
                width: 100%;
                border-radius: 15px;
                background-image: url("/assets/img/image-video.png");
                background-size: cover;
                background-position: center;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding: 0;      
                    width: 64px;     
                    height: 64px;
                }
            }

            .text-block {
                h1 {
                    font-size: 18px;
                    font-weight: 600;
                }
                p {
                    font-size: 16px;
                    font-weight: 500;
                }

                a {
                    font-size: 16px;
                    font-weight: 600;
                    color:#39B54A;
                }
            }
        }
    }
}


@media screen and (max-width: 900px) and (min-width: 600px) {
    .reviws-2 {

        .main-block {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 600px) and (min-width: 500px) {
    .reviws-2 {
        padding: 50px 40px;
        .main-block {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: 500px) {
    .reviws-2 {
        padding: 50px 20px;
        .main-block {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}