
.services {
    padding: 0 40px;
    
    .block {
        h1 {
            text-align: center;
            font-size: 48px;
            margin-bottom: 40px;
        }
        .bloc-one {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 20px;
            margin-top: 40px;

        .block-1-first-row {
            position: relative;
            border-radius: 15px;
            overflow: hidden;
            height: 325px;

            background-image: url('/assets/img/services-main-one.svg');
            background-size: contain;         
            background-repeat: no-repeat;
            background-position: left center;

            .overlay-img img {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: right center;  
                z-index: 2;
                pointer-events: none;
            }

            .text-overlay {
                position: absolute;
                top: 40px;
                right: 40px;       
                z-index: 3;
                max-width: 400px;
                text-align: left;  
                color: #fff;

                h2 {
                    font-size: 26px;
                    font-weight: 700;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 18px;
                    line-height: 1.4;
                    margin-bottom: 25px;
                }
            }

            .btn-overlay {
                position: absolute;     
                display: flex;
                padding: 212px 101px 62px 500px;
                gap: 10px;
                z-index: 3;

                .btn-application {
                    background-color: #0071BC;
                    color: #fff;
                    width: 187px;
                    height: 51px;
                    padding: 15px 20px;
                    border-radius: 10px;
                    font-size: 18px;
                    border: none;
                    cursor: pointer;
                }

                .btn-detail {
                    background-color: #fff;
                    color: #18A14F;
                    padding: 15px 20px;
                    width: 142px;
                    height: 51px;
                    border-radius: 10px;
                    font-size: 18px;
                    border: none;
                    cursor: pointer;
                }
                
    }
  }

  .block-2-first-row {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    height: 325px;
    cursor: pointer;

    background-image: url('/assets/img/main-services-two.svg');
    background-size: cover;        
    background-repeat: no-repeat;
    background-position: center;

    .overlay-img img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2;
      pointer-events: none;
    }

    .block {
        padding: 124px 40px 50px 40px;
        .img-blue-detail {
      position: absolute;
      z-index: 3;
        }

    h2 {
      position: absolute;
      left: 40px;
      bottom: 40px;
      z-index: 3;
      color: #fff;
      font-size: 22px;
      line-height: 1.3;
      max-width: 250px;
    }
    }
    
  }
}

.block-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 169px 200px 169px;
  gap: 20px;
  border-radius: 15px;
  padding-top: 20px;

  > div {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    padding: 40px;
    transition: transform 0.3s, box-shadow 0.3s;
    
    a {
      text-decoration: none; 
      color: inherit;        
      display: block;        
    }

    img {
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 26px;
      color: #fff;
      text-align: left;
      margin: 0;
      font-weight: 600;
    }

    
    &:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(7), &:nth-child(9) {
      background-color: #39B54A; 
    }
    &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8) {
      background-color: #0071BC; 
    }
  }
}

    }
}
