.services {
    .conteiner {
        padding: 20px 20px 20px 40px;
        display: grid;
        grid-template-columns: 470px 1fr; 
        align-items: end;
        

        .conteiner-text {
            height: 285px;
            padding: 75px 0 89px 0; 
            margin: 0;
            z-index: 1;
            
            .text-one {
                font-size: 24px;
                font-weight: 500;
                color: #282828;
                text-align: left;
                margin: 0;
                padding-bottom: 22px;
            }

            h1 {
                font-size: 56px;
                font-weight: 600;
                color: #282828;
                padding: 0;
                margin: 0;
            }

            .btn {
                margin: 0;
                padding: 30px 0;

                button {
                    padding: 25px;
                    background-color: #0071BC;
                    border-radius: 10px;
                    color: white;
                    font-size: 18px;
                    font-weight: 700;
                    border: none;
                }
            }

            .text-two {
                font-size: 16px;
                font-weight: 500;
                margin: 0;

            }

        }

        .img {
            position: relative; 
            width: 100%;    
            height: auto;  

            div {
                position: absolute;
            }

            .img-1 {
                z-index: 3;
                bottom: 0px; 
                left: 50%;
                transform: translateX(-50%); 
            }

            .img-2 {
                z-index: 2;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%); 
            }

            .img-3 {
                z-index: 1;
                bottom: 0;
                left: 70%;
                transform: translateX(-50%); 
            }
        }

    }
 
}

@media screen and (max-width: 1400px) and (min-width: 1350px) {
    .services {
        .conteiner {
            .conteiner-text {
                .text-one {
                    font-size: 1.7vw;
                }
                h1 {
                    font-size: 4.2vw;
                }
                .btn {
                    .btn-services {
                        font-size: 1.3vw;
                    }
                }
                .text-two {
                    font-size: 1.3vw;
                }
            }

            .img {
                width: 90%;

                .img-1 {
                    width: 80%;
                    img {
                        width: 90%;
                        
                    }
                }
                .img-2 {
                    width: 100%;
                    img {
                        width: 110%; 
                        
                    }
                }
                .img-3 {
                    width: 90%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) and (min-width: 1250px) {
    .services {
        .conteiner {
            .conteiner-text {
                .text-one {
                    font-size: 1.7vw;
                }
                h1 {
                    font-size: 4.2vw;
                }
                .btn {
                    .btn-services {
                        font-size: 1.3vw;
                    }
                }
                .text-two {
                    font-size: 1.3vw;
                }
            }

            .img {
                width: 90%;

                .img-1 {
                    width: 80%;
                    img {
                        width: 90%;
                        padding-bottom: 25px;
                    }
                }
                .img-2 {
                    width: 100%;
                    img {
                        width: 110%; 
                        padding-bottom: 25px;
                    }
                }
                .img-3 {
                    width: 90%;
                    img {
                        width: 100%;
                        padding-bottom: 25px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) and (min-width: 1150px) {
    .services {
        .conteiner {
            .conteiner-text {
                .text-one {
                    font-size: 1.7vw;
                }
                h1 {
                    font-size: 4.2vw;
                }
                .btn {
                    .btn-services {
                        font-size: 1.3vw;
                    }
                }
                .text-two {
                    font-size: 1.3vw;
                }
            }

            .img {
                width: 90%;

                .img-1 {
                    width: 80%;
                    img {
                        width: 90%;
                        padding-bottom: 40px;
                    }
                }
                .img-2 {
                    width: 100%;
                    img {
                        width: 110%; 
                        padding-bottom: 40px;
                    }
                }
                .img-3 {
                    width: 90%;
                    img {
                        width: 100%;
                        padding-bottom: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1150px) and (min-width: 1100px) {
    .services {
        .conteiner {
            .conteiner-text {
                padding-top: 20px;
                .text-one {
                    font-size: 1.7vw;
                }
                h1 {
                    font-size: 4.2vw;
                }
                .btn {
                    .btn-services {
                        font-size: 1.3vw;
                    }
                }
                .text-two {
                    font-size: 1.3vw;
                }
            }

            .img {
                width: 90%;

                .img-1 {
                    width: 80%;
                    img {
                        width: 90%;
                        padding-bottom: 80px;
                    }
                }
                .img-2 {
                    width: 100%;
                    img {
                        width: 110%; 
                        padding-bottom: 80px;
                    }
                }
                .img-3 {
                    width: 90%;
                    img {
                        width: 100%;
                        padding-bottom: 80px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) and (min-width: 900px) {
    .services {
        .conteiner {
            .conteiner-text {
                padding-top: 20px;
                .text-one {
                    font-size: 1.7vw;
                }
                h1 {
                    font-size: 4.2vw;
                }
                .btn {
                    .btn-services {
                        font-size: 1.3vw;
                    }
                }
                .text-two {
                    font-size: 1.3vw;
                }
            }

            .img {
                width: 90%;
                
                .img-1 {
                    width: 80%;
                    img {
                        width: 90%;
                        padding-bottom: 30%;
                    }
                }
                .img-2 {
                    width: 100%;
                    img {
                        width: 110%; 
                        padding-bottom: 30%;
                    }
                }
                .img-3 {
                    display: none;
                }
            }
        }
    }
}