.services {
    padding: 20px 40px 60px 80px;

    .conteiner {

        .conteiner-text {
            height: 285px;
            min-width: 714px;
            padding: 75px 100% 89px 0;
            
            .text-one {
                font-size: 24px;
                font-weight: 500;
                color: #282828;
                text-align: left;
                margin: 0;
                padding-bottom: 22px;
            }

            h1 {
                font-size: 56px;
                font-weight: 600;
                color: #282828;
                padding-bottom: 30px;
            }

            .btn {
                
            }
        }
    }
}