.text {

    .block {
        padding: 20px 40px 0 40px;

        p {
            margin: 0;
            padding: 0;
            font-size: 18px;
            font-weight: 500;
            color: #282828;

            a {
                text-decoration: none;
                color:#282828;
            }
        }
    }
}