
.write-downs {
    padding: 60px 40px;
    height: 655px;

    .block {
        position: relative;
        display: flex;           
        align-items: flex-start;     
        gap: 40px;            

        .text {
            display: grid;
            justify-content: end; 
            align-items: flex-start;
            margin-top: 0;
            padding-top: 0;
            padding: 0;
             

            h1 {
                margin: 0;
                padding-top: 73px;
                font-size: 56px;
                font-weight: 500;
            }

            p {
                margin: 0;
                padding-top: 20px;
                padding-bottom: 40px;
                font-size: 20px;
                font-weight: 500;
            }

            .mob-h {
                display: none;
            }
            .mob-h-two {
                display: none;
            }
            .block {
                padding: 0;
                margin: 0;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;

                .block-one,
                .block-two,
                .block-three {
                    height: 103px;
                    width: auto;
                    border-radius: 15px;
                    background: linear-gradient(to left, #EFF6FD, #DDE3E8);
                    
                    .text-block {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;      
                        padding: 20px;  
                        gap: 15px;             
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        flex-shrink: 0;
                    }

                    p {
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                .block-three {
                    height: 82px;
                }
            }

        }
    }
}

@media screen and (max-width: 1400px) and (min-width: 1100px) {
    .write-downs {
        height: auto;
        padding: 40px 20px;
        .block {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;

            .img {
                img {
                    width: 90%;
                }
            }

            .text {
                .mob-h-two {
                    display: block;
                    font-size: 4vw;
                    padding-top: 50px;
                }
                .mob-h{
                display: none;
                }
                h1 {
                display: none;
                }
                p {
                    font-size: 1.5vw;
                }

                .block {
                    display: grid;
                    grid-template-rows: repeat(2, 1fr);
                    gap: 10px;
                    .block-one, .block-two, .block-three {
                        height: auto;
                        .text-block {
                            padding: 20px;
                            p {
                                font-size: 1.4vw;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) and (min-width: 900px) {
    .write-downs {
        height: auto;
        padding: 40px 20px;
        .block {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;

            .img {
                img {
                    width: 90%;
                }
            }

            .text {
                .mob-h-two {
                    display: block;
                    font-size: 4vw;
                    padding-top: 10px;
                }
                .mob-h{
                display: none;
                }
                h1 {
                display: none;
                }
                p {
                    font-size: 1.5vw;
                }

                .block {
                    display: grid;
                    grid-template-rows: repeat(2, 1fr);
                    gap: 10px;
                    .block-one, .block-two, .block-three {
                        height: auto;
                        .text-block {
                            padding: 15px;
                            p {
                                font-size: 1.4vw;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 900px) and (min-width: 500px) {
    .write-downs {
        padding: 40px 20px;
        height: auto;
        .block {
            display: grid;
            grid-template-columns: 1fr;
            gap: 21px;
            .img {
                position: relative;
                padding: 50px;
                padding-bottom: 0;
                img {
                    height: auto;
                    width: 100%;
                }
            }

            .text {
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                .mob-h {
                    display: block;
                    font-size: 4vw;
                    font-weight: 500;
                    margin: 0;
                    padding: 0;
                    padding-bottom: 15px;
                }
                p {
                    font-size: 3vw;
                    font-weight: 500;
                    margin: 0;
                    padding: 0;
                    padding-bottom: 20px;
                }
                h1 {
                  display: none;
                }
                .block {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 10px;
                    .block-one, .block-two, .block-three {
                        height: auto;
                        
                    }
                    .text-block {
                        padding: 30px !important;
                        margin: 0;
                        p {
                            font-size: 2.6vw !important;
                            font-weight: 500;
                            margin: 0;
                            
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 500px) {
    .write-downs {
        padding: 40px 20px;
        height: auto;
        .block {
            display: grid;
            grid-template-columns: 1fr;
            gap: 21px;
            .img {
                position: relative;
                img {
                    height: auto;
                    width: 100%;
                }
            }

            .text {
                padding: 0;
                h1 {
                    font-size: 28px;
                    font-weight: 500;
                    margin: 0;
                    padding: 0;
                    padding-bottom: 15px;
                }
                p {
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0;
                    padding: 0;
                    padding-bottom: 20px;
                }

                .block {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 10px;
                    .block-one, .block-two, .block-three {
                        height: auto;
                        
                    }
                    .text-block {
                        padding-bottom: 0;
                        margin: 0;
                        p {
                            font-size: 2.8vw !important;
                            font-weight: 500;
                            margin: 0;
                            
                        }
                    }
                }
            }
        }
    }
}