
.write-downs {
    padding: 60px 40px;
    height: 655px;

    .block {
        position: relative;
        display: flex;           
        align-items: flex-start;     
        gap: 40px;            

        .text {
            display: grid;
            justify-content: end; 
            align-items: flex-start;
            margin-top: 0;
            padding-top: 0;
            padding-left: 40px;
             

            h1 {
                margin: 0;
                padding-top: 73px;
                font-size: 56px;
                font-weight: 500;
            }

            p {
                margin: 0;
                padding-top: 20px;
                padding-bottom: 40px;
                font-size: 20px;
                font-weight: 500;
            }

            .block {
                padding: 0;
                margin: 0;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;

                .block-one,
                .block-two,
                .block-three {
                    height: 103px;
                    width: auto;
                    border-radius: 15px;
                    background: linear-gradient(to left, #EFF6FD, #DDE3E8);
                    
                    .text-block {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;      
                        padding: 20px;  
                        gap: 15px;             
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        flex-shrink: 0;
                    }

                    p {
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                .block-three {
                    height: 82px;
                }
            }

        }
    }
}
