@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: white;
    overflow-x: hidden;
}